a {
  text-decoration: none;
  color: #94d2fc;
}
a:hover {
  color: white;
}

.main-nav {
  width: 100%;
  background: #E1C5D1;
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
  color: white;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: ;
}

.date {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 2px;
	font-size: 1.1em;
}

h2	{
	color: #2c3e50;
 }

.first {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
	margin-bottom: 2px;
}

body {
	margin: auto;
	width: 80%;
	max-width: 700px;
	font-family: source sans pro;
	padding: 40px;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}