* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

a {
  text-decoration: none;
  color: #94d2fc;
}
a:hover {
  color: white;
}

.main-nav {
  width: 100%;
  background: #E1C5D1;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
  color: white;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: ;
}

.date {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 2px;
	font-size: 1.1em;
}

h2	{
	color: #2c3e50;
 }

.first {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
	margin-bottom: 1px;
}

body {
	margin: auto;
	font-family: source sans pro;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 100px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }