
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

a {
  text-decoration: none;
  color: #94d2fc;
}
a:hover {
  color: white;
}

.main-nav {
  width: 100%;
  background: #E1C5D1;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
  color: white;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: ;
}


img {
	width: 30%;
	float:right;
	margin: 1.66%;
  display: flex;
}

p {
	padding: 20px;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 100px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }